<!DOCTYPE html>
<html>
<head>
  <title>Hittfit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="hc">
<header>
<div style="position:relative"><div class="nav">
	<ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">MISSION</a></li>
		<li><a href="#">WORKOUTS</a></li>
		<li><a href="#">CONTACT US</a></li>
		<li><a href="#">BLOG</a></li>
	</ul>
</div>
</div>
<div style="position:relative"><div class="logo"></div></div>


</header>
</div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
